@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-custom-grey-700: hsl(0, 0%, 20%);
  --color-custom-grey-800: hsl(0, 0%, 12%);
  --color-custom-grey-900: hsl(0, 0%, 8%);
  --color-custom-green: hsl(75, 94%, 57%);
  --color-custom-white: hsl(0, 0%, 100%);
  --font-inter: "Inter", sans-serif;
}
